*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato";
}

@font-face{
	font-family:"Social Logos";
	src:url('font/SocialLogos.ttf');
}


.center{
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header{
	background: #385898;
	padding: 8px 0;
}

.logo{
	float: left;
	color: white;
}

.logo h2{
	font-size: 60px;
	font-family: "Social Logos";
}

form.form-login{
	float: right; 
}

.form-login, .form-element{
	display: inline-block;
	margin-right: 15px; 
}

.form-element p{
	color: white;
	font-size: 14px;
}

.form-element input[type=email],
.form-element input[type=password]{
	margin-top: 4px;
	border: 0;
	height: 22px;
	padding-left: 3px;
}

.form-element input[type=submit]{
	color: white;
	cursor: pointer;
	padding: 3px 5px;
	background-color: #4267b2;
	border: 2px solid #29487d;
}

.form-element input[type=submit]:hover{
	background-color: #385898;
}

section.main{
	background: linear-gradient(white, #D3D8E8);
	padding: 40px 0;
}

.img-pessoas{
	float: left;
	width: 60%;
}

.img-pessoas img{
	max-width: 100%;
}

.abrir-conta{
	width: 40%;
	float: left;
}

.abrir-conta h2{
	color: black;
	font-size: 35px;
}

.abrir-conta h3{
	font-size: 19px;
	color: rgb(20,20,20);
	margin-top: 8px;
	font-weight: normal;
}

form.criar-conta{
	margin-top: 10px;
}

.w50{
	width: 50%;
	float: left;
	padding: 0 5px;
}

.w100{
	width: 100%;
	float: left;
	padding: 0 5px;
}

form.criar-conta input{
	width: 100%;
	margin-top: 8px; 
}

form.criar-conta input[type=email],
form.criar-conta input[type=text],
form.criar-conta input[type=password]{
	height: 40px;
	font-size: 20px;
	padding-left: 10px;
	border: 1px solid;
	border-color: #bdc7d8;
	border-radius: 5px;
}

form.criar-conta input[type=submit]{
	margin-top: 20px;
	max-width: 200px;
	color: white;
	height: 40px;
	background: linear-gradient(#67ae55, #578843);
	border: 1px solid;
	border-color: #3b6e22 #3b6e22 #2c5115;
	box-shadow: inset 0 1px 1px #a4e388;
	border-radius: 5px;
	font-size: 19px;
}

form .w100 h2{
	margin-top: 20px;
	color: rgb(144, 148, 156);
	font-size: 16px;
	font-weight: normal;
}

form select.nascimento{
	float: left;
	margin-top: 10px;
	height: 30px;
	padding: 5px;
}

.input-radio{
	margin: 0 10px 0 3px;
	float: left;
}

.input-radio h2{
	color: #1d2129 !important;
	display: inline-block;
}

.input-radio input[type=radio]{
	width: auto !important;
	display: inline-block;
}

section.linguas{
	padding: 30px 0;
	background: white;
}

section.linguas a{
	padding-right: 15px;
	color: #365899;
	text-decoration: none;

}

section.linguas a.selected-lingua{
	color: #737373;
}

section.linguas .center{
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

section.linguas .serviços{
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.copy span{ 
	margin-top: 20px; 
	color: rgb(115, 115, 115);
	font-size: 11px;
	float: left;
}



@media screen and (max-width: 768px){
	.logo{
		float: none;
		width: 100%;
		text-align: center;
	}

	form.form-login{
		margin-top: 17px;
		display: inline-block;
		float: none;
		width: 100%;
		text-align: center;
	}

	.form-login, .form-element{
		display: block;
		margin: 10px 0; 
	}

	.form-element p{
		color: white;
		font-size: 14px;
	}

	.form-element input[type=email],
	.form-element input[type=password]{
		margin-top: 4px;
		border: 0;
		height: 22px;
		padding-left: 3px;
		width: 100%;
		max-width: 320px;
	}

	.form-element input[type=submit]{
		width: 140px;
	}

	.img-pessoas{
		display: none;
	}

	.abrir-conta{
		width: 100%; 
	}
}